{{- $profile := .Site.Params.home.profile -}}
<div class="profile-user">
    <div class="grid top">
        {{- $avatar := $profile.avatarURL -}}
        {{- with $profile.gravatarEmail -}}
        {{- $avatar = md5 . | printf "https://www.gravatar.com/avatar/%v?s=240&d=mp" -}}
        {{- end -}}
        {{- if $avatar -}}
        <div class="img">
            {{- $menus := $.Site.Menus.main | default slice -}}
            {{- with index $menus 0 -}}
                {{- $url := .URL | relLangURL -}}
                {{- with .Page -}}
                    {{- $url = .RelPermalink -}}
                {{- end -}}
                {{- dict "Src" $avatar | partial "plugin/image.html" -}}
            {{- else -}}
                {{- dict "Src" $avatar | partial "plugin/image.html" -}}
            {{- end -}}
        </div>
        {{- end -}}

        <h2 id="name">
            Name
        </h2>

        <div class="subtitle" id="email">
            Email
        </div>

        {{- if $profile.social -}}
        <div class="links" id="invitelink">
            InviteLink
        </div>
        {{- end -}}
    </div>
    <div class="grid bottom">
        <div class="info">
            <p><i class="fa-solid fa-building fa-fw"></i>&nbsp;金币:<span id="coins">Coins</span></p>
            <hr>
            <p><i class="fa-solid fa-briefcase fa-fw fa-fw"></i>&nbsp;已下载:<span id="clicks">Clicks</span></p>
            <hr>
            <p><i class="fa-solid fa-map-marker-alt fa-fw"></i>&nbsp;已邀请:<span id="invites">Invites</span></p>
            <hr>
        </div>
    </div>
</div>