@media screen and (prefers-reduced-motion: reduce) { //动画减弱
  html {
    scroll-behavior: auto;
  }
}

@media screen {
  .summary{
    width: 24%;
  }
}

@media only screen and (max-width: 1440px) {

  #toc-auto {
    display: none;
  }

  .home {
    .summary{
      width: 32%;
    }
  }
}

@media only screen and (max-width: 960px) {
  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .home {
    .summary{
      width: 48%;
    }
  }

  #header-desktop .header-wrapper {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  body.blur {
    overflow: hidden;
  }

  .page {
    width: 100% !important;
    margin-left: auto !important;

    [header-mobile] & {
      padding-top: $header-height;
    }

    [header-mobile=normal] & {
      padding-top: 0;
    }

    .categories-card, .author-card, .series-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .home {
    .summary{
      width: 100%;
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}
