{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
<div class="forms-container">
    <div class="signin-signup">
        <form class="sign-in-form">
            <h2 class="title">登录</h2>
            <div class="input-field"><i class="fas fa-envelope" aria-hidden="true"></i>
                <input id="email" type="email" placeholder="邮箱">
            </div>
            <div class="input-field"><i class="fas fa-lock" aria-hidden="true"></i>
                <input id="pwd" type="password" placeholder="密码">
            </div>
            <input onclick="login()"   value="Login" class="btn solid" >
        </form>
        <form class="sign-up-form">
            <h2 class="title">注册</h2>
            <div class="input-field"><i class="fas fa-user" aria-hidden="true"></i>
                <input id="regname" type="text" placeholder="用户名">
            </div>
            <div class="input-field"><i class="fas fa-envelope" aria-hidden="true"></i>
                <input id="regemail" type="email" placeholder="邮箱">
            </div>
            <div class="input-field"><i class="fas fa-lock" aria-hidden="true"></i>
                <input id="regpwd" type="password" placeholder="密码">
            </div>
            <input id="regpwd" onclick="reg()"  class="btn" value="注册">
        </form>
    </div>
</div>
<div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
            <h3>New here ?</h3>
            <p>Lorem ipsum,dolor sit amet consectetur adipisicing elit. Debitis,ex ratione. Aliquid!</p>
            <button class="btn transparent" id="sign-up-btn">注册 </button>
        </div>
    </div>
    <div class="panel right-panel">
        <div class="content">
            <h3>One of us ?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laboriosam ad deleniti. </p>
            <button class="btn transparent" id="sign-in-btn">Sign in </button>
        </div>
    </div>
</div>
<script>
    const sign_in_btn = document.querySelector("#sign-in-btn");
    const sign_up_btn = document.querySelector("#sign-up-btn");
    const container = document.querySelector(".container");
    
    sign_up_btn.addEventListener("click", () => {
      container.classList.add("sign-up-mode");
    });
    
    sign_in_btn.addEventListener("click", () => {
      container.classList.remove("sign-up-mode");
    }); 

    // ajax
    var site = 'http://g.jump.cc';
    var xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    // invite 
    var inviteParm = window.location.search;
    if (invitebyParm) {
        var inviteby = invitebyParm.slice(1); // del '?'
        localStorage.setItem("inviteby",inviteby);
    }

    // login 
    function login(){
        var postStr = 'email='+document.querySelector("#email").value;
        postStr += '&pwd='+document.querySelector("#pwd").value;
        xhr.open('POST',site+'/user/login');
        xhr.send(postStr);
        xhr.onreadystatechange = function (){
            if (xhr.readyState == 4 && xhr.status == 200 ){
                var r = xhr.responseText;
                r = r.split(',');
                if (r[0] == 'ok'){
                    window.alert(r[1]);
                    window.location('/user');
                }else if (r[0] == 'err'){
                    window.alert(r[1]);
                }else{
                    window.alert('未知错误,请联系管理员');
                }
            }
        }
    };

    // reg
    function reg(){
        var postStr = 'regname='+document.querySelector("#regname").value;
        postStr += '&regemail='+document.querySelector("#regemail").vaule;
        postStr += '&regpwd='+document.querySelector("#regpwd").value;
        if (localStorage.getItem("inviteby")) {
            postStr += '&inviteby=' + localStorage.getItem("inviteby");
        }
        xhr.open('POST',site+'/user/register');
        xhr.send(postStr);
        xhr.onreadystatechange = function (){
            if (xhr.readyState == 4 && xhr.status == 200 ){
                var r = xhr.responseText;
                r = r.split(',');
                if (r[0] == 'ok'){
                    window.alert(r[1]);
                    window.location('/user');
                }else if (r[0] == 'err'){
                    window.alert(r[1]);
                } else {
                    window.alert('未知错误,请联系管理员');
                }
            }
        }
    };
</script>

{{- end -}}
